*~
*.pyc
ve
.ve*
.pip-cache
logs
pip-log.txt
.test
builds
*.egg-info
.whoosh_index
.cache
Makefile
.ropeproject/
*.kpf
/merlin_project/merlin_project/media/webobjects/*
/merlin_project/merlin_project/media/curatedwebobjects/*
/merlin_project/merlin_project/media/*_pages/
*.prefs
.idea
/merlin_project/merlin_project/media/*css/*
/merlin_project/merlin_project/media/video_assets/*
etc
*.sublime-*
.vagrant
