{% extends "base.html" %}

{% block title %}<title>Author - {{ author.name }}</title>{% endblock %}

{% block content %}
    <h2>Author: {{ author.name }}</h2>
    <img style="height:200px" alt='Picture of {{ author.name }}' src='/media/{{ author.headshot }}'/>
    <p style="font-style:italic">{{ author.salutation }}</p>
    E-mail: {{ author.email }}<br/>
    Number of interest points from you: {{ user_access_count }}<br/>
    <form action="{% url 'record_user_interest_in_author' author.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Got my attention!" />
    </form>
    <a href="{% url 'author_update' pk=author.pk %}">Update</a>
    <a href="{% url 'author_delete' pk=author.pk %}">Delete</a>
    <p><a href="{% url 'author_list' %}">Back</a></p>
{% endblock %}